body {
  font-family: Arial, sans-serif;
  background-color: #645f5f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
.container {
  text-align: center;
  background-color: #000000;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: auto;
  width: 70%;
  background-color: #3b3b3b;
}
.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #142270;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #555;
}

input {
  width: 50%;
  max-width: 500px;
  height: 2em;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 1.3em;
}
#signin {
  width: 40%;
  max-width: 500px;
  padding: 10px;
  background-color: #223ee0;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
}
#signin:hover {
  background-color: #0f1a4b;
  opacity: 0.9;
  cursor: pointer;
}
#showPassword {
  width: 1em;
  height: 1em;
  padding-top: 1px;
  border: none;
  cursor: pointer;
}
.label {
  display: block;
  font-weight: lighter;
  color: #575151;
  margin-top: 5px;
  text-align: center;
}
.noAccount {
  margin-top: 20px;
  font-size: 1em;
  color: #837e7e;
}

#message {
  color: red;
  font-size: 1em;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.form-group label {
  width: 150px;
  text-align: right;
  font-size: 1.2em;
}
.form-group input {
  width: 400px;
  max-width: 100%;
}
